<div class="product_container">
    <img id="product_pic" src='/img/designer<%= params[:id]%>.jpg' height:"800px" width="800px" >
    <div class="product_info">
        <h1> <%= designers[1] %> </h1>
        <h3> <%= designers[2] %> </h3>
        <p> <%= designers[3] %> </p>
        <h2> Skapta produkter av <%= designers[1] %> </h2>
        <% products.each do |item| %>
            <%="<a href='/product/#{item[0]}'>"%>
          <%=item[1]%>
          <%='</a>'%>
        <% end %>
    </div>
</div>